h1 {
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 55px;
  line-height: 40px;
  margin-bottom: 0;
  text-align: center;
}

h3 {
  font-family: 'Roboto Slab';
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

.container-speed {
  margin-top: 100px;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

.container-text {
  display: block;
  width: 845px;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 32px;
  line-height: 45px;
  margin: 0 auto;
}

.ref-text {
  position: absolute;
  color: #BFBFBF;
  font-weight: 200;
  border-bottom: 1px solid #BFBFBF;
}

.input-text .correct {
  color: black;
}

.input-text .incorrect {
  color: red;
}

.input-text {
  position: absolute;
  display: inline-block;
  border: none;
  min-height: 40px;
  font-weight: 600;
}

.blink-on {
  border-right: 1px solid black;
}

.blink-off {
  border-right: none;
}

.hidden {
  visibility: hidden;
}